<style>
    body{
      background-color: grey;
    }
    .navbar navbar-default{
      color: #1E2033;
    }
    .bottom{
      position:relative;
      float:right;
      bottom:7px;
      right:9px;
    }
    #Details:hover {
      background-color:  #14143d;
      transition-duration: 1s;
    }
    .col-sm-4{
      text-align: center;
    }
  </style>
<nav class="navbar navbar-default" style="background-color: #1E2033; border-color:#1E2033; margin:0px;">
  <div class="container-fluid" >
    <div class="navbar-header" style="width: 6%;">
      <a class="navbar-brand" href="/Home"><img src="/navi.jpg" style="width: 40px; position: relative; bottom: 10px;"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/Home">Home</a></li>
      <li class="dropdown, active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Create Genre<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/genre">Genre</a></li>
          <li><a href="/genre/create">Create Genre</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Publisher<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/publisher">Publisher</a></li>
          <li><a href="/publisher/create">Create Publisher</a></li>
        </ul>
      </li>
      <li><a href="/customers">Customer List</a></li>
      <li><a href="/orders">Order List</a></li>
      <li><a href="/Unavailable">About Us</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="Post">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div class="container" style="width: 100%; height:50px; padding: 5px;background-color:#040959; ">
  <img src="/Title.png" style="height: 100%; position: relative; left: 50px;">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="modal-body">
      <form method="POST" action="/genre/create">
        <div class="form-group">
          <label for="genre_name">Genre Name:</label><br>
          <input type="text" class="form-control" name="genre_name" value="" placeholder="e.g. Role-playing Game" required="">
          <br>
          <br>
          <hr>
          <input type="submit" name="submit" value="Submit" class="btn btn-design" style="float:right">
        </div>        
      </form>
      </div>
    </div>
  </div>
</div>