<style>
    body{
      background-color: grey;
    }
    .navbar navbar-default{
      color: #1E2033;
    }
    .bottom{
      position:relative;
      float:right;
      bottom:7px;
      right:9px;
    }
    #Details:hover {
      background-color:  #14143d;
      transition-duration: 1s;
    }
    .col-sm-4{
      text-align: center;
    }
    #Details:hover {
    background-color:  #14143d;
    transition-duration: 1s;
    }
  </style>
<nav class="navbar navbar-default" style="background-color: #1E2033; border-color:#1E2033; margin:0px;">
  <div class="container-fluid" >
    <div class="navbar-header" style="width: 6%;">
      <a class="navbar-brand" href="#"><img src="navi.jpg" style="width: 40px; position: relative; bottom: 10px;"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/Unavailable">Game List</a></li>
      <li><a href="/Unavailable">Categories</a></li>
      <li><a href="/Unavailable">About Us</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div class="container" style="width: 100%; height:50px; padding: 5px;background-color:#040959; ">
  <img src="Title.png" style="height: 100%; position: relative; left: 50px;">
</div>
<div class="container" style="height: 600px;width: 100%;margin: 0px; padding: 0px;">
  <img src="Banner.png" style="height: 100%; width: 100%;">
</div>
<div class="container-fluid" style="background-color: grey; margin: 0px; padding: 0px; width: 100%;">
  <div class="row" style="width: 100%; margin: 0px;">
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel1" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="God Eater/main.jpeg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="God Eater/Mini2.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="God Eater/PIC1.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/God Eater" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid;">#1 God Eater</h3  ></a>
      </div>
    </div>
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel2" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="Patapon 3/Mini1.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Patapon 3/Mini2.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Patapon 3/Mini3.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/Patapon 3" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid;">#2 Patapon 3</h3></a>
      </div>
    </div>
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel3" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="Persona 3/Mini1.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Persona 3/Mini2.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Persona 3/Mini3.png" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel3" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel3" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/Persona 3" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid;">#3 Persona 3</h3></a>
      </div>
    </div>
  </div>
  <div class="row" style="width: 100%; margin: 0px;">
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel4" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="Phantasy Star 2/Mini1.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Phantasy Star 2/Mini2.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Phantasy Star 2/Mini3.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel4" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel4" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/Phantasy Star 2" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid;">#4 Phantasy Star 2</h3></a>
      </div>
    </div>
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel5" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="Radiant Mythology/Mini1.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Radiant Mythology/Mini2.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Radiant Mythology/Mini3.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel5" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel5" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/Radiant Mythology" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid;">#5 Radiant Mythology</h3></a>
      </div>
    </div>
    <div class="col-sm-4" style="height: 280px;">
      <div class="container" style="width:70%; height: 70%;padding:0px; margin-right: 0px; margin-left: 60px; margin-right: 40px; margin-top: 10px">
          <div id="myCarousel6" class="carousel slide" data-ride="carousel" style="margin: 0px; width: 100%;">
            <!-- Wrapper for slides -->
            <div class="container"  style="height: 100%; width: 100%; padding: 0px;">
              <div class="carousel-inner" style="height: 100%; width: 100%; border-radius: 20px;">
                <div class="item active">
                  <img src="Radiant Mythology 2/Mini1.jpg" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Radiant Mythology 2/Mini2.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
                <div class="item">
                  <img src="Radiant Mythology 2/Mini3.PNG" style="height: 200px; width: 100%;border-radius: 10px;">
                </div>
              </div>
            </div>  
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel6" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel6" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
      <div>
        <a href="/AppPage/Radiant Mythology 2" style="color:inherit;text-decoration-line: none;"><h3 id="Details" style="margin-left: 60px; margin-right: 65px; border-top-style: solid; border-bottom-style: solid; font-size: 150%;">(Bonus) Radiant Mythology 2</h3></a>
      </div>
    </div>
  </div>
  <small class="bottom">Copyright © 2016 DCMH</small>
</div>
